<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro concluído</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="css/tema.css" rel="stylesheet"/>

</head>
<body>
<!-- BARRA DE NAVEGAÇÃO -->
  <nav class="navbar navbar-expand-sm BNav">
    <div class="container-fluid">
      <a class="navbar-brand textoBNav" th:href="@{/home}"><b>logo</b></a>
      
      <!-- Botão que esconde os itens na versão mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Itens que no celular vão pra dentro do botão da versão mobile -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="container"><div class="row">
          <div class="col-4">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link textoBNav" th:href="@{/home}">Início</a>
              </li>
              <li class="nav-item">
                <!--       -->
              </li>
            </ul>           
          </div>

          <!-- Formulário de Pesquisa -->
          <div class="col-5">              
            <form class="row mt-1">
              <div class="col-sm-9">
                <input class="form-control form-control-sm formularioBNav" type="search" placeholder="Pesquisar" >
              </div>
            </form>            
          </div>
        
          <!-- Deslogado: Botões de login e cadastro (Logado: Imagem do perfil e nome do usuário) -->
          <div class="col-2">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="mx-3 btn btn-outline-light fw-bold" href="Cadastro.html" role="button">Registrar</a>
              </li>
              <li class="nav-item">
                <a class="mx-3 btn btn-outline-light fw-bold" href="Login.html" role="button">Entrar</a>
              </li>                
            </ul>
          </div>

        </div></div>
      </div>
    </div>
  </nav>
<!-- FIM DA BARRA DE NAVEGAÇÃO -->

  
<!-- CONTEÚDO -->
  <div class="container mt-3">
  	<div class="mt-5 card shadow-2-strong" style="border-radius: 1rem;">
    	<h1 class="text-center text-success"><Strong>Conta criada com sucesso!</Strong></h1>
    	
    	<p class="text-center mt-5 mb-5 fs-4"> Para fazer acessar o site com sua conta clique em  
            <a class="--bs-info-text" th:href="@{/login}">Entrar</a>
        </p>
	</div>
  </div>
<!-- FIM DO CONTEÚDO -->


<!-- SCRIPTS -->
  <!-- JS do Tema -->
  <script type="text/javascript" src="js/tema.js"></script>
    
  <!-- JS Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>